<!DOCTYPE html>
<html>
  <head>
    {% block title %}
    <title>{{ settings.title_text }}</title>
    {% endblock title %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="views/jquery-ui/jquery-ui.min.css">
    <link href="views/css/bootstrap.min.css" rel="stylesheet">
    <link href="views/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="views/css/dashboard.css" rel="stylesheet">
    <link rel="stylesheet" href="views/font-awesome-4.4.0/css/font-awesome.min.css">
    <style type="text/css" media="print">
      div.page {
      page-break-after: always;
      page-break-inside: avoid;
      }
      div.avoidbreak {
      page-break-inside: avoid;
      }
    </style>
    <style>
      label {
      display: inline-block;
      width: 5em;
      }
    </style>
    <script src="views/js/jquery.min.js"></script>
    <script src="views/js/Chart.js"></script>
    <script src="views/js/bootstrap.min.js"></script>
    <script src="views/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="views/js/tinymce/tinymce.min.js"></script>
    <script>
      tinymce.init({
        mode: "textareas",
        editor_deselector: "mceNoEditor",
        width : "100%"
      });

      $(document).ready(function() {
        $("#alert-success").fadeOut({{ settings.fadeout }});
      });
      $(function() {
        $(document).tooltip();
      });
    </script>
    <script type="text/javascript">
      $(function() {
        var availableTags = [{{ confCrimes|raw }}];
        $("#case_crime").autocomplete({
          source: availableTags
        });
      });
      $(function() {
        $("#case_confiscation_date").datepicker({
          dayNamesMin: ["{{ lang.weekday_7_short }}", "{{ lang.weekday_1_short }}", "{{ lang.weekday_2_short }}", "{{ lang.weekday_3_short }}", "{{ lang.weekday_4_short }}", "{{ lang.weekday_5_short }}", "{{ lang.weekday_6_short }}"],
          dateFormat: "yy-mm-dd",
          monthNames: ["{{ lang.month_1 }}", "{{ lang.month_2 }}", "{{ lang.month_3 }}", "{{ lang.month_4 }}", "{{ lang.month_5 }}", "{{ lang.month_6 }}", "{{ lang.month_7 }}", "{{ lang.month_8 }}", "{{ lang.month_9 }}", "{{ lang.month_10 }}", "{{ lang.month_11 }}", "{{ lang.month_12 }}"],
          monthNamesShort: ["{{ lang.month_1|slice(0, 4) }}", "{{ lang.month_2|slice(0, 4) }}", "{{ lang.month_3|slice(0, 4) }}", "{{ lang.month_4|slice(0, 4) }}", "{{ lang.month_5|slice(0, 4) }}", "{{ lang.month_6|slice(0, 4) }}", "{{ lang.month_7|slice(0, 4) }}", "{{ lang.month_8|slice(0, 4) }}", "{{ lang.month_9|slice(0, 4) }}", "{{ lang.month_10|slice(0, 4) }}", "{{ lang.month_11|slice(0, 4) }}", "{{ lang.month_12|slice(0, 4) }}"],
          firstDay: ["1"],
          showButtonPanel: ["false"],
          closeText: ["{{ lang.close }}"],
          currentText: ["{{ lang.today }} "]
        });
      });
      <!--
        // copyright 1999 Idocs, Inc. http://www.idocs.com
        // Distribute this script freely but keep this notice in place
        function numbersonly(myfield, e, dec) {
          var key;
          var keychar;
          if (window.event)
            key = window.event.keyCode;
          else if (e)
            key = e.which;
          else
            return true;
          keychar = String.fromCharCode(key);
          // control keys
          if ((key == null) || (key == 0) || (key == 8) ||
            (key == 9) || (key == 13) || (key == 27))
            return true;
          // numbers
          else if ((("0123456789.").indexOf(keychar) > -1))
            return true;
          else
            return false;
        }
        //-->
    </script>
    <title id="html-title">
    </title>
    {% block reroute %} {% endblock %}
  </head>
  {% block bodytag %}
  <body>
    {% endblock bodytag %}
    {% block upperframe %}
    {% endblock upperframe %}
    {% block logo %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <h2>
            <img src="{{ settings.logo_image }}" style="width:{{ settings.logo_image_width }};"> {{ settings.logo_text }}
          </h2>
          <hr>
          {% endblock logo %}
          {% block navi %}
          <ul class="nav nav-sidebar">
            <li><a href='index.php?year={{ dateStart|date("Y") }}'><span class="glyphicon glyphicon-home" aria-hidden="true"></span> {{ lang.front_page }} {{ dateStart|date("Y") }}<span class="sr-only">(current)</span></a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href='statistics.php?year={{ dateStart|date("Y") }}'> <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> {{ lang.statistics }} {{ dateStart|date("Y") }}</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="add_case.php"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{ lang.add_a_request }}</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="help.php"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> {{ lang.help_licenses }}</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="settings.php"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> {{ lang.settings }}</a></li>
          </ul>
        </div>
        {% endblock navi %}
        {% block content %}
        {% endblock %}
      </div>
    </div>
    </div>
  </body>
</html>
