<!DOCTYPE html>
<html>
  <head>
    {% block title %}
    <title>{{ settings.title_text }}</title>
    {% endblock title %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="views/jquery-ui/jquery-ui.min.css">
    <link href="views/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link href="views/css/bootstrap-theme.min.css" rel="stylesheet"> -->
    <link href="views/css/dashboard.css" rel="stylesheet">
    <link rel="stylesheet" href="views/font-awesome-4.6.3/css/font-awesome.min.css">
    <style type="text/css" media="print">
      div.page {
      page-break-after: always;
      page-break-inside: avoid;
      }
      div.avoidbreak {
      page-break-inside: avoid;
      }
    </style>
    <style>
      label {
      display: inline-block;
      width: 5em;
      }
    </style>
    <script src="views/js/jquery.min.js"></script>
    <script src="views/js/Chart.js"></script>
    <script src="views/js/bootstrap.min.js"></script>
    <script src="views/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="views/js/tinymce/tinymce.min.js"></script>
    <script>
      tinymce.init({
        mode: "textareas",
        editor_deselector: "mceNoEditor",
        width : "100%"
      });

      $(document).ready(function() {
        $("#alert-success").fadeOut({{ settings.fadeout }});
      });
      $(function() {
        $(document).tooltip();
      });

      $(function() {
        var availableTags = [{{ confCrimes|raw }}];
        $("#case_crime").autocomplete({
          source: availableTags
        });
      });
      $(function() {
        $("#case_confiscation_date").datepicker({
          dayNamesMin: ["{{ lang.weekday_7_short }}", "{{ lang.weekday_1_short }}", "{{ lang.weekday_2_short }}", "{{ lang.weekday_3_short }}", "{{ lang.weekday_4_short }}", "{{ lang.weekday_5_short }}", "{{ lang.weekday_6_short }}"],
          dateFormat: "yy-mm-dd",
          monthNames: ["{{ lang.month_1 }}", "{{ lang.month_2 }}", "{{ lang.month_3 }}", "{{ lang.month_4 }}", "{{ lang.month_5 }}", "{{ lang.month_6 }}", "{{ lang.month_7 }}", "{{ lang.month_8 }}", "{{ lang.month_9 }}", "{{ lang.month_10 }}", "{{ lang.month_11 }}", "{{ lang.month_12 }}"],
          monthNamesShort: ["{{ lang.month_1|slice(0, 4) }}", "{{ lang.month_2|slice(0, 4) }}", "{{ lang.month_3|slice(0, 4) }}", "{{ lang.month_4|slice(0, 4) }}", "{{ lang.month_5|slice(0, 4) }}", "{{ lang.month_6|slice(0, 4) }}", "{{ lang.month_7|slice(0, 4) }}", "{{ lang.month_8|slice(0, 4) }}", "{{ lang.month_9|slice(0, 4) }}", "{{ lang.month_10|slice(0, 4) }}", "{{ lang.month_11|slice(0, 4) }}", "{{ lang.month_12|slice(0, 4) }}"],
          firstDay: ["1"],
          showButtonPanel: ["false"],
          closeText: ["{{ lang.close }}"],
          currentText: ["{{ lang.today }} "]
        });
      });
      <!--
        // copyright 1999 Idocs, Inc. http://www.idocs.com
        // Distribute this script freely but keep this notice in place
        function numbersonly(myfield, e, dec) {
          var key;
          var keychar;
          if (window.event)
            key = window.event.keyCode;
          else if (e)
            key = e.which;
          else
            return true;
          keychar = String.fromCharCode(key);
          // control keys
          if ((key == null) || (key == 0) || (key == 8) ||
            (key == 9) || (key == 13) || (key == 27))
            return true;
          // numbers
          else if ((("0123456789.").indexOf(keychar) > -1))
            return true;
          else
            return false;
        }
        //-->

     function autoRefresh_div()
      {
          $("#unreadcounter").load("unreadcounter.php");// a function which will load data from other file after x seconds
      }
      setInterval('autoRefresh_div()', 60000); // Refresh the unread counter every minute
    </script>


    <title id="html-title">
    </title>
    {% block reroute %} {% endblock %}
  </head>
  {% block bodytag %}
  <body>
    {% endblock bodytag %}
    {% block upperframe %}
    {% endblock upperframe %}
    {% block logo %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <h2>
            <img src="{{ settings.logo_image }}" style="width:{{ settings.logo_image_width }};"> {{ settings.logo_text }}
          </h2>
          <hr>
          {% endblock logo %}
          {% block navi %}

          {% if session.user %}
          {% if session.user.access <= 2 %}
          <ul class="nav nav-sidebar">
            <li{% if "index.php" in settings.self %} class="active"{% endif %}><a href='index.php?year={{ dateStart|date("Y") }}'><span class="glyphicon glyphicon-home" aria-hidden="true"></span> {{ lang.front_page }} {{ dateStart|date("Y") }}<span class="sr-only">(current)</span></a></li>
          </ul>

          {% endif %}
          {% if ("edit_request.php" in settings.self) %}
          <ul class="nav nav-sidebar">
            <li role="presentation"{% if not returntab %} class="active"{% endif %}><a href="#tab-exam-request" aria-controls="tab-exam-request" role="tab" data-toggle="tab">&nbsp;&nbsp;<i class="fa fa-caret-right"></i> {{ caserow.0.case_id }}/{{ caserow.0.case_added_date|date("Y") }} {{ caserow.0.case_name }}</a></li>
            <li role="presentation"{% if returntab == "devices" %} class="active"{% endif %}><a href="#tab-devices" aria-controls="tab-devices" role="tab" data-toggle="tab">&nbsp;&nbsp;<i class="fa fa-caret-right"></i> {% if caserow.0.case_devicecount >= "1" %}<b>{% endif %}{{ lang.devices_and_medias }} {% if caserow.0.case_devicecount >= "1" %}</b><span class="badge pull-right">{{ caserow.0.case_devicecount }}</span>{% endif %}</a></li>
            <li role="presentation"{% if returntab == "report_notes" %} class="active"{% endif %}><a href="#tab-report_notes" aria-controls="tab-report_notes" role="tab" data-toggle="tab">&nbsp;&nbsp;<i class="fa fa-caret-right"></i> {% if caserow.0.report_notes %}<b>{% endif %}{{ lang.examination_report }}{% if caserow.0.report_notes %}</b>{% endif %}</a></li>
            <li role="presentation"{% if returntab == "examiners_notes" %} class="active"{% endif %}><a href="#tab-examiners_notes" aria-controls="tab-examiners_notes" role="tab" data-toggle="tab">&nbsp;&nbsp;<i class="fa fa-caret-right"></i> {% if caserow.0.examiners_notes %}<b>{% endif %}{{ lang.examination_notes }}{% if caserow.0.examiners_notes %}</b>{% endif %}</a></li>
            <li role="presentation"{% if returntab == "ohjeet" %} class="active"{% endif %}><a href="#tab-ohjeet" aria-controls="tab-ohjeet" role="tab" data-toggle="tab">&nbsp;&nbsp;<i class="fa fa-caret-right"></i> {{ lang.crime_type_instructions }}</a></li>
          </ul>
          {% endif %}

          {% if ("device_memo.php" in settings.self) %}
          <ul class="nav nav-sidebar">
            <li role="presentation"><a href="edit_request.php?case={{ caserow.0.id }}">&nbsp;&nbsp;<i class="fa fa-caret-right"></i> {{ caserow.0.case_id }}/{{ caserow.0.case_added_date|date("Y") }} {{ caserow.0.case_name }}</a></li>
            <li role="presentation"><a href="edit_request.php?case={{ caserow.0.id }}&tab=devices">&nbsp;&nbsp;<i class="fa fa-caret-right"></i> {% if caserow.0.case_devicecount >= "1" %}<b>{% endif %}{{ lang.devices_and_medias }} {% if caserow.0.case_devicecount >= "1" %}</b><span class="badge pull-right">{{ caserow.0.case_devicecount }}</span>{% endif %}</a></li>
            <li role="presentation" class="active"><a href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-caret-right"></i> {{ mediarow.0.device_type }} </a></li>
            <li role="presentation"><a href="edit_request.php?case={{ caserow.0.id }}&tab=report_notes">&nbsp;&nbsp;<i class="fa fa-caret-right"></i> {% if caserow.0.report_notes %}<b>{% endif %}{{ lang.examination_report }}{% if caserow.0.report_notes %}</b>{% endif %}</a></li>
            <li role="presentation"><a href="edit_request.php?case={{ caserow.0.id }}&tab=examiners_notes">&nbsp;&nbsp;<i class="fa fa-caret-right"></i> {% if caserow.0.examiners_notes %}<b>{% endif %}{{ lang.examination_notes }}{% if caserow.0.examiners_notes %}</b>{% endif %}</a></li>
            <li role="presentation"><a href="edit_request.php?case={{ caserow.0.id }}&tab=ohjeet">&nbsp;&nbsp;<i class="fa fa-caret-right"></i> {{ lang.crime_type_instructions }}</a></li>
          </ul>
          {% endif %}
          {% if session.user.access <= 2 %}
          <ul class="nav nav-sidebar">
            <li{% if "statistics.php" in settings.self %} class="active"{% endif %}><a href='statistics.php?year={{ dateStart|date("Y") }}'> <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> {{ lang.statistics }} {{ dateStart|date("Y") }}</a></li>
          </ul>
          {% endif %}
          <ul class="nav nav-sidebar">
            <li{% if "add_case.php" in settings.self %} class="active"{% endif %}><a href="add_case.php"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{ lang.add_a_request }}</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li{% if "help.php" in settings.self %} class="active"{% endif %}><a href="help.php"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> {{ lang.help_licenses }}</a></li>
          </ul>
          {% if session.user.access <= 0 %}
          <ul class="nav nav-sidebar">
            <li{% if "settings.php" in settings.self %} class="active"{% endif %}{% if session.user.access > 1 %} class="disabled"{% endif %}><a href="settings.php"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> {{ lang.settings }}</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li{% if "users.php" in settings.self %} class="active"{% endif %}{% if session.user.access > 0 %} class="disabled"{% endif %}><a href="users.php"><i class="fa fa-users"></i> {{ lang.manage_users }}</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li{% if "tools.php" in settings.self %} class="active"{% endif %}{% if session.user.access > 0 %} class="disabled"{% endif %}><a href="tools.php"><i class="fa fa-crosshairs"></i> {{ lang.manage_tools|capitalize }}</a></li>
          </ul>
          {% endif %}
          <ul class="nav nav-sidebar">
            <li{% if "messages.php" in settings.self and not show %} class="active"{% endif %}><a href="messages.php{% if (session.unread.new > 0) and "messages.php" not in settings.self %}?show=inbox{% endif %}"><i class="fa fa-inbox"></i> {{ lang.messages|capitalize }} <span class="pull-right"><div id="unreadcounter">{% if session.unread.new > 0 %}<span style="color:red;"><i class="fa fa-envelope-o"></i> {{session.unread.new}}</span>{% endif %}</div></span></a></li>
          </ul>
          {% if ("messages.php" in settings.self) %}
          <ul class="nav nav-sidebar">
            <li{% if show == "inbox" %} class="active"{% endif %} role="presentation"><a href="messages.php?show=inbox">&nbsp;&nbsp;<i class="fa fa-folder{% if show == "inbox" or not show %}-open{% endif %}"></i> {{ lang.inbox|capitalize }} <span class="pull-right">{% if session.unread.msgcount_to > 0%}{{ session.unread.msgcount_to }}{% endif %}</span></a></li>
            <li{% if show == "outbox" %} class="active"{% endif %} role="presentation"><a href="messages.php?show=outbox">&nbsp;&nbsp;<i class="fa fa-folder{% if show == "outbox" or not show %}-open{% endif %}"></i> {{ lang.outbox|capitalize }} <span class="pull-right">{% if session.unread.msgcount_from > 0%}{{ session.unread.msgcount_from }}{% endif %}</span></a></li>
            <li{% if show == "archive" %} class="active"{% endif %} role="presentation"><a href="messages.php?show=archive">&nbsp;&nbsp;<i class="fa fa-folder{% if show == "archive" or not show %}-open{% endif %}"></i> {{ lang.archived|capitalize }} <span class="pull-right">{% if session.unread.msgcount_archived > 0%}{{ session.unread.msgcount_archived }}{% endif %}</span></a></li>
            <li{% if show == "compose" %} class="active"{% endif %} role="presentation"><a href="messages.php?show=compose">&nbsp;&nbsp;<i class="fa fa-paper-plane-o"></i> {{ lang.send_a_message|capitalize }}</a></li>
          </ul>
          {% endif %}

          {% if session.user.username %}
          <ul class="nav nav-sidebar">
            <li><a href="submit.php?type=logout&token={{session.user.token}}"><i class="fa fa-user"></i> {{ lang.log_out }} {{ session.user.name }} </a></li>
          </ul>
          {% else %}
          <ul class="nav nav-sidebar">
            <li><a href="login.php"><i class="fa fa-sign-in"></i> {{ lang.log_in }}</a></li>
          </ul>
          {% endif %}

          {% endif %}

          <!-- info message -->
          {% if session.message.type == "info"%}
          <div style="background:#9F9;padding:10px;-webkit-box-shadow: 10px 10px 15px -4px rgba(0,0,0,0.27);-moz-box-shadow: 10px 10px 15px -4px rgba(0,0,0,0.27);box-shadow: 10px 10px 15px -4px rgba(0,0,0,0.27);" id="alert-success"><i class="fa fa-info-circle" style="color:green;"></i> {{ session.message.content }}</div>
          {% endif %}

          <!-- error message -->
        </div>
        {% if session.message.type == "error"%}
          <div class="col-sm-offset-3 col-md-offset-2 text-center" style="background:#F66;padding-top:10px;padding-bottom:10px;
          -webkit-box-shadow: 0px 0px 20px 7px rgba(0,0,0,0.27);
          -moz-box-shadow: 0px 0px 20px 7px rgba(0,0,0,0.27);
          box-shadow: 0px 0px 20px 7px rgba(0,0,0,0.27);">
          {{ session.message.content }}<span class="pull-right" style="color:white;"><i class="fa fa-warning"></i>&nbsp;&nbsp;&nbsp;</span>
        </div>
        {% endif %}
        {% endblock navi %}
        {% block content %}
        {% endblock %}
      </div>
    </div>
    </div>
  </body>
</html>
