

{% extends 'base.html' %}
{% block title %}
<title>Teknisen tutkinnan raportti</title>
{% endblock title %}

{% block bodytag %}
<body style="margin-left:20px;margin-right:40px;">
  {% endblock bodytag %}
  {% block upperframe %}
  {% endblock upperframe %}
  {% block logo %}
  {% endblock logo %}
  {% block navi %}
  {% endblock navi %}
  {% block content %}
  {% for entry in caserow %}
  <div class="page">
    <table>
      <tr>
        <td>
          <img src="views/img/logo.png" width="130px" style="horizontal-align:left;vertical-align:top;">
        </td>
        <td style="padding-left:50px;">
          <h2>Tietoteknisen tutkinnan raportti</h2>
          <h3>{{ settings.police_precinct }}</h3>
          <h3>{{ entry.case_file_number }}</h3>
          <h3>
          Esitutkintapöytäkirjan liite ____</h1>
          <p>Rikosnimike: {{ entry.case_crime }}</p>
          <p>Rikoksesta epäilty: {{ entry.case_suspect }}<br>
          <p>Tutkinnanjohtaja: {{ entry.case_investigation_lead }}.</p>
          <p>Tutkija: {{ entry.case_investigator }} (p. {{ entry.case_investigator_tel }})<br>
          <p>Tekninen tutkija: {{ entry.forensic_investigator }}</p>
          {% if (entry.phone_investigator) and (entry.phone_investigator != entry.forensic_investigator) %}
          <p>Puhelintutkija: {{ entry.phone_investigator }}</p>
          {% endif %}</p>
          <p>Laitetutkintapyyntö kirjattu {{ entry.case_added_date|date("d.m.Y") }}.<br>
            Tekninen tutkinta aloitettu {{ entry.case_start_date|date("d.m.Y")  }}.<br>
            Viimeisin tilapäivitys {{ entry.case_ready_date|date("d.m.Y")  }}.
          </p>
          <br>
          <br>
          ____________________________________________<br>
          {{ entry.forensic_investigator }}<br><br>
          {% if entry.phone_investigator and (entry.phone_investigator != entry.forensic_investigator)%}
          ____________________________________________<br>
          {{ entry.phone_investigator }}<br>
          {% endif %}
          <br>
          <p>{{ settings.report_city }} {{ "now"|date("d.m.Y") }}</p>
        </td>
      </tr>
    </table>
  </div>
  {% if entry.report_notes %}
  <div class="page">
    <h1>Teknisen tutkinnan kulku</h1>
    <hr>
    {{ entry.report_notes|raw }}
  </div>
  {% endif %}
  <div class="page">
    <h4>devices<div class="pull-right">{{ entry.case_file_number }}</div></h4>
    <hr>
    <ul>
      {% for entry in mediarow %}{% if (entry.is_removed == "0") and (entry.device_is_host == "1") %}
      <li>LAITE {% if entry.device_document %}{{ entry.device_document }}{% endif %}{% if entry.device_item_number %} esine {{ entry.device_item_number }}{% endif %}
        <b>{{ entry.device_type }}, {{ entry.device_manuf }} {{ entry.device_model }} {% if entry.device_size_in_gb %}(koko {{ entry.device_size_in_gb }} GB){% endif %}</b>
        <br>Tunniste: {{ entry.device_identifier }}, kirjaustunnus {{ entry.id }}
        <br>dev_owner: <i>{{ entry.device_owner }}</i>
        <br>Kuvaus: <i>{{ entry.case_request_description }}</i>
        <br>Esinenro: <i>{{ entry.esinenro }}</i>
        <br>Takavarikkonumero: <i>{{ entry.takavarikkonro }}</i>, esine {{ entry.device_item_number }}


        {% endif %}
      </li>
      {% set this_parent = entry.id %}
      {% for entry in mediarow %}
      {% if (entry.device_host_id == this_parent) and (entry.is_removed == "0") %}
      <ul>
        <li>MEDIA {% if entry.device_document %}{{ entry.device_document }}{% endif %}{% if entry.device_item_number %} esine {{ entry.device_item_number }}{% endif %}
          <b>{{ entry.device_type }}, {{ entry.device_manuf }} {{ entry.device_model }} {% if entry.device_size_in_gb %}(koko {{ entry.device_size_in_gb }} GB){% endif %}</b>
          {% if entry.device_identifier %}<br>Tunniste: {{ entry.device_identifier }}, {% endif %}Kirjaustunnus {{ entry.id }}
          {% if entry.case_request_description %}<br>Kuvaus: <i>{{ entry.case_request_description }}</i>{% endif %}
        </li>
      </ul>
      {% endif %}{% endfor %}{% endfor %}

  </div>
<div class="page">
<h4>Laitekohtaiset löydökset<div class="pull-right">{{ entry.case_file_number }}</div></h4>
<hr>
{% for entry in mediarow %}
{% if (entry.is_removed == "0") and (entry.report_notes) and (entry.device_include_in_report == "1")%}
<h4>&nbsp;&nbsp;{{ entry.device_type }}, {{ entry.device_manuf }} {{ entry.device_model }} {% if entry.device_size_in_gb %}(koko {{ entry.device_size_in_gb }} GB){% endif %} {% if entry.device_identifier %}[{{ entry.device_identifier }}]{% endif %}</h4>
<div class="well well-sm">{{ entry.report_notes|raw }}</div>
{% endif %}
{% endfor %}
</div>
</ul>
{% endfor %}
{% endblock %}
